<section class="educacion">
    <div class="overflow-auto container-fluid">
        <div class="row contenido justify-content-center">
            <div class="col-8 col-sm-8 col-xxl-9">
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombre" class="form-label text-white">Nombre de la Institucion</label>
                        <input type="text" class="form-control input-nombre" id="nombre" name="nombre"
                            [(ngModel)]="educacion.nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcion" class="form-label text-white">Descripcion de sus estudios</label>
                        <input type="text" class="form-control input-descipcion" id="descripcion" name="descripcion"
                            [(ngModel)]="educacion.descripcion" required>
                    </div>
                    <div class="form-group">
                        <label for="inicio" class="form-label text-white">Fecha de Inicio</label>
                        <input type="month" class="form-control input-inicio" id="inicio" name="inicio"
                            [(ngModel)]="educacion.inicio" required>
                    </div>
                    <div class="form-group">
                        <label for="fin" class="form-label text-white">Fecha de Fin</label>
                        <input type="month" class="form-control input-fin" id="fin" name="fin" [(ngModel)]="educacion.fin"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="img" class="form-label text-white">Imagen de la Educacion</label>
                        <br>
                        <input type="file" class="form-control input-img" id="img" name="img" [(ngModel)]="educacion.img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
                    </div>
                    <div class="form-group">
                        <div class="imagen">
                            <img class="imagen-educacion" [src]="imageService.urlImg">
                        </div>
                    </div>
                    <button class="btn btn-primary btn-actualizar">
                        Actualizar
                    </button>
                    <button class="btn btn-light btn-cancelar" (click)="cancel()">
                        Cancelar
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
