<nav class="navbar navbar-light navbar-expand-lg  bg-secondary nav-inicial" id="mainNav">
    <div class="container"><a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank"><img class="img-logo" src="../../../assets/img/logo8.png"></a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler text-white navbar-toggler-right rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link a-link" href="#header" >Inicio</a></li>
                <li class="nav-item"><a class="nav-link a-link" href="#educacion" >Educación</a></li>
                <li class="nav-item"><a class="nav-link a-link" href="#skill" >Skills</a></li>
                <li class="nav-item"><a class="nav-link a-link" href="#proyecto" >Proyectos</a></li>
                <li class="nav-item mx-0 mx-lg-1"><button class="btn border-white button-login" type="button" (click)="login()" *ngIf="!isLogged">Login</button></li>
                <li class="nav-item mx-0 mx-lg-1"><button class="btn border-white button-login" type="button" (click)="onLogOut()" *ngIf="isLogged">Salir</button></li>
            </ul>
        </div>
    </div>
</nav>